node_modules
.idea
PDF
dist
.DS_Store
/build
*.iml
npm-debug.log
.history/*
Exercices/corrections/03_getting_started_with_truffle/src/contracts/Migrations.json
Exercices/corrections/03_getting_started_with_truffle/src/contracts/Betting.json
